*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    box-sizing: border-box;
}
.principal{
    text-align: center;
    padding: 3%;
    
}
h1{
    color: chocolate;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contenido1{
    width: 500px;
    height: auto;
    background: grey;
    float: left;
    margin-left: 8%;
    margin-right: 15%;
    overflow: hidden;
    border: 4px solid chocolate;
    
}
img{
    width: 500px;
    height: 350px;
   
}
h3{
    margin: 15px;
    font-size: 30px;
}
p{
    padding: 20px;
    font-size: 25px;
}
.contenido2{
    width: 500px;
    height: auto;
    background: grey;
    overflow: hidden;
    border: 4px solid chocolate;
}
.boton{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
        
}